<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>290406550449-uv6tkd4g2uqsr81e8ed32gajsk3diuou.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.290406550449-uv6tkd4g2uqsr81e8ed32gajsk3diuou</string>
	<key>API_KEY</key>
	<string>AIzaSyBRaiKm4NrDTMCgErORgXV1YmV9GWO-2JQ</string>
	<key>GCM_SENDER_ID</key>
	<string>290406550449</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Personal.Final-Project</string>
	<key>PROJECT_ID</key>
	<string>final-project-679df</string>
	<key>STORAGE_BUCKET</key>
	<string>final-project-679df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:290406550449:ios:2cd6b54fedd3c35dc3cb90</string>
</dict>
</plist>